<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Minha Aplicação Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Minha Aplicação Web!</h1>
        <p th:text="'Hoje é ' + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></p>
    </div>
</body>
</html>